body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8fafc;
}
header {
  background-color: #000;
  color: #fff;
  padding: 1rem 0;
  text-align: center;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
}
.header-container {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-container h1 {
  margin-left: 1rem; 
  font-size: 2rem; 
  font-family:serif;
}
.header-nav {
  margin-right: 1rem; 
}
.header-nav a {
  color: #fff;
  text-decoration: none;
  margin-right: 10px;
  padding-right: 70px;
  font-size: 20px; 
  transition: opacity 0.3s;
}
.header-nav a:hover {
  opacity: 0.6;
}
.title{
  text-align: center;
  font-size: 80px;
  font-family: serif;
  font-weight: 300;
  margin-top: 60px;
}
.subtitle{
  text-align: center;
  font-size: 20px;
  font-family: serif;
  font-weight: 300;
  margin-top: 20px;
}
.button {
  display: block;
  margin: 60px auto;
  padding: 16px 28px;
  background-color: #2563eb;
  color: white;
  border: none;
  border-radius: 22px;
  cursor: pointer;
  font-size: large;
  font-family: Arial, sans-serif;
}
.button:hover {
  background-color: #1d4ed8;
}
.hidden {
  display: none;
}
.file-name {
  font-size: 18px;
  color: black; 
}
h1 a {
  text-decoration: none;
  color: white
}

section {
  min-height: 400px;
}

.file-upload-container {
  text-align: center; 
}

.results-container {
  text-align: center;
  align-content: center;
  margin-top: 100px;
  padding: 20px; 
}

.results-text {
  font-size: 22px;
  font-weight: bold;
  color: black; 
}
.start-over-link {
  display: inline-block;
  margin-top: 20px; 
  text-decoration: none;
  color: #2563eb;
  font-size: 18px; 
}

.start-over-link:hover {
  color: #2563eb;
  text-decoration: underline;
}

/* about and features sections */

.about-section, .features-section{
  padding: 10px 5%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.about-container, .features-container{
  max-width: 1000px; 
  margin: 0 auto; 
  padding: 0 24px;
}

.about-heading, .features-heading{
  font-size: 32px; 
  font-weight: bold; 
  color: #1a202c; 
  margin-bottom: 20px; 
  font-family: serif;
  font-weight: 700;
}

.about-text, .features-text {
  color: black; 
  margin-top: 18px; 
  line-height: 1.7; 
  color: #333;
}

.images-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px 100px 50px;

}

.demo-images{
  width: 400px;
  height: 350px;
}


/* media queries */

/* Header styles adjustment for smaller screens */
@media (max-width: 768px) {
  .header-container h1 {
    font-size: 1.5rem;
    margin-left: 0.5rem;
  }

  .header-nav a {
    font-size: 16px;
    margin-right: 5px;
    padding-right: 10px;
  }

  .header-nav {
    margin-right: 0.5rem;
  }
}

/* Title and subtitle adjustment for smaller screens */
@media (max-width: 768px) {
  .title {
    font-size: 40px;
    margin-top: 30px;
  }

  .subtitle {
    font-size: 18px;
    margin-top: 10px;
  }
}

/* Button adjustment for smaller screens */
@media (max-width: 768px) {
  .button {
    margin: 30px auto;
    padding: 12px 20px;
    font-size: medium;
  }
}

/* File upload container adjustment for smaller screens */
@media (max-width: 768px) {
  .file-upload-container {
    margin-top: 30px;
  }
}

/* About and Features section adjustment for smaller screens */
@media (max-width: 768px) {
  .about-section, .features-section {
    padding: 32px 10%;
  }

  .about-container, .features-container {
    max-width: 100%;
    padding: 0 15px;
  }

  .about-heading, .features-heading {
    font-size: 24px;
  }

  .about-text, .features-text {
    font-size: 16px;
  }

  .demo1, .demo1-features {
    width: 100%; /* Full width on smaller screens */
    height: auto; /* Maintain aspect ratio */
    margin: 20px 0; /* Spacing above and below the image */
  }
}

