<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    <!--<link rel="icon" type="image/x-icon" href="">-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

    <title>CellScope</title>

</head>
<body>
    <!--header-->
    <header class="header-container">
        <h1><i class="fa-solid fa-globe"></i> <a href="#Get Started">CellScope</a> </h1>
        <nav class="header-nav">
            <a href="#About">About</a>
            <a href="#Features">Features</a>
        </nav>
    </header>
    <main>
        <!--submit-->
        <section id="Get Started">
            <div class="title">Welcome to CellScope</div>
            <div class="subtitle">To begin please upload a file</div>
            <div class="file-upload-container">
                <button id="getFile" class="button">Get Started</button>
                <form action="/upload" method="post" enctype="multipart/form-data">
                    <input type="file" name="image" class="hidden" />
                    <div class="file-upload-container">
                        <button id="submitBtn" value="Upload" class="button hidden">Submit</button>
                        <span id="fileName" class="file-name"></span>
                    </div>
                </form>
            </div>
        </section>
        <!--about-->
        <hr style="width:1000px; text-align: center;">
        <section2 id="About">
            <section class="about-section">
                <div class="about-container">
                    <h2 class="about-heading">About CellScope</h2>
                    <p class="about-text">
                        The CellScope application is designed to simplify and automate the process of cell counting from microscopic imagery. Utilizing advanced algorithms, it allows users to quickly upload images and receive accurate cell counts, significantly reducing manual counting error and effort. 
                    </p>
                    <p class="about-text">
                        Continual improvements and updates are made to ensure the highest level of accuracy and user-friendliness. We welcome feedback and suggestions as we strive to make CellScope or C-Count V1 the standard tool for cell counting in the scientific community.
                    </p>
                    <div class="images-container">
                        <img src="{{ url_for('static', filename='img/demo1.png') }}" alt="placeholder" class="demo-images"> 
                        <img src="{{ url_for('static', filename='img/demo2.png') }}" alt="placeholder" class="demo-images">           
                    </div>
                </div>
            </section>
        </section2>
        <!--features-->
        <hr style="width:1000px; text-align: center;">
        <section id="Features">
            <section class="features-section">
                <div class="features-container">
                    <h2 class="features-heading">Features</h2>
                    <p class="features-text">
                        <b>Advanced Cell Counting Algorithms: </b>CellScope leverages state-of-the-art image processing algorithms to provide fast and accurate cell counts from microscopic images. This reduces manual counting errors and saves valuable time for researchers and laboratory technicians.
                        <br>
                        <b>User-Friendly Interface:</b> With a focus on simplicity and ease of use, CellScope offers a clean and intuitive interface. Users can upload images with just a few clicks and view their results in an easily understandable format.
                        <br>
                        <b>High-Resolution Image Support:</b> CellScope is capable of processing high-resolution images, allowing for detailed analysis and ensuring that no cell goes uncounted.
                        <br>
                        <b>Versatile Image Analysis:</b> Whether you’re working with stained samples, fluorescent imaging, or brightfield microscopy, CellScope is designed to adapt to various types of cell images, providing flexibility across different microscopy disciplines.
                        <br>
                        <b>Real-Time Processing:</b> Our application processes images in real time, providing instant feedback on cell counts. This immediate response is vital for fast-paced lab environments where time is of the essence.
                        <br>
                        <b>Secure Data Handling:</b> We prioritize the confidentiality and security of your data. Uploaded images are processed and then promptly deleted from our servers to ensure privacy and security.
                        <br>
                        <b>Continuous Updates and Improvements:</b> CellScope is continually updated to incorporate the latest updates in image recognition and processing.
                        <br>
                    </p>
                </div>
            </section>
        </section>   
    </main>
</body>
<script src="{{ url_for('static', filename='js/script.js') }}"></script>
</html>


