<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    <title>Cell Counter</title>

</head>
<body>
        <div class="main-container">
            <div class="header">
                Bone Marrow Cell Counter
            </div>
            <div class="content">
                <form action="/upload" method="post" enctype="multipart/form-data">
                    <input type="file" name="image" />
                    <input type="submit" value="Upload" />
                </form>
            </div>
        </div>
    </body>
</html>